.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  font-family: "Josefin Sans";
  background-color: #fff;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

.Appbar {
  background-color: #1976d2 !important;
  color: #fff !important;
}

/*
 Landing page 
  */

/* 
  .landing-buttonContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--spacing-5);
  }
  */
.landing-button {
  margin: 0 auto;
  display: block;
  margin-top: 1vh !important;
}

.landing-root {
  flex-grow: 1;
}

.hero-title {
  font-family: "Nunito !important";
  color: #ffffff;
  font-size: 8rem !important;
}

.hero-para {
  font-family: "Nunito !important";
  color: #ffffff;
  margin-top: 32vh !important;
  font-size: 3rem !important;
}

.hero-down {
  color: #1976d2;
  font-size: 4rem !important;
}

.landing-heroLogin {
  position: absolute;
  bottom: 0;
  left: 0;
}

.landing-cardGrid {
  margin-top: 16px;
  margin-bottom: 16px;
}

.landing-card {
  max-width: 500px;
}

.landing-cardMedia {
  height: 350px;
}

.landing-cardContent {
  flex-grow: 2;
}

.content-title {
  font-family: "Nunito !important";
  font-weight: bold;
  font-size: 2rem !important;
  color: #fff;
}

.content-description {
  font-family: "Nunito !important";
  font-size: 1.3rem !important;
  color: #ddd;
}

/* 
  Home page
  */

.home-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.content-title {
  color: #000;
  font-weight: bold;
  font-size: 2rem !important;
}

.content-description {
  font-size: 1.3rem !important;
}

.content-image {
  height: 300px;
}

.CardRoot {
  width: 100%;
  max-width: 600px;
  margin: 1%;
}

.CardMedia {
  height: 50%;
  flex: 1 1 300px;
}

.CardContent {
  height: 50%;
  flex: 1 1 300px;
}

/* 
  Exercise page
  */

.exercise-box {
  margin-top: 1;
  padding: 10px 20px 60px;
}

.exercise-stack {
  justify-content: center;
  flex-wrap: wrap;
}

/* 
  Exercise Card
  */

.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff !important;
  border-top: 4px solid #1976d2;
  border-bottom: 4px solid #1976d2;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2),
    -5px 0 5px -5px rgba(0, 0, 0, 0.2);
}

.exercise-card:hover {
  transform: scale(1.1, 1.1);
}

.exercise-card img {
  height: 326px;
}

.exercise-card-stack {
  justify-content: center;
  align-items: center;
}

.exercise-card-button {
  color: #fff !important;
  background-color: #262424 !important;
  font-size: 14px;
  border-radius: 15px !important;
  text-transform: capitalize;
}

.exercise-card-typ {
  color: black;
  font-weight: bold !important;
  margin-top: 10px !important;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: center;
}

/* 
search Exercises 
*/

.search-stack {
  align-items: center;
  margin-top: 37px;
  justify-content: center;
  padding: 20px;
}

.search-box {
  position: relative;
}

.search-text {
  height: 76px;
  background-color: "#fff";
  border-radius: 40px;
}

.search-btn {
  height: 56px;
  position: absolute !important;
  right: 0px;
  background-color: #1976d2 !important;
  color: #fff !important;
}

.search-btn:hover {
  color: #1976d2 !important;
  border: 1px solid #1976d2 !important;
}

/* 
Exercise detail 
*/

.detail-stack {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.detail-image {
  width: 40%;
  height: 742px;
}

.detail-title {
  text-transform: capitalize;
  font-weight: 700;
}

.detail-stack-inner {
  align-items: center;
  gap: 24px;
}

/* 
Workout Page
*/

.workout-grid {
  display: flex;
  justify-content: center;
}

.workout-btn {
  width: 95%;
}

.workout {
  display: "flex";
  flex-direction: "column";
  align-items: "center";
  justify-content: "center";
  position: "relative";
}

.workout-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px;
  min-width: 120;
  margin-bottom: 600;
}

.workout-form-container {
  margin-top: 8px;
}

.workout-row {
  margin-bottom: 8px;
}

.workout-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 16px;
  margin-bottom: 4px;
  text-align: center;
}

.workout-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.workout-title {
  justify-content: center;
  font-weight: bold;
}

.workout-accordion-details {
  display: flex !important;
  justify-content: center !important;
}

.no-workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43vh;
  margin-top: calc(100px + 1vh);
}

.days-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.days-form-con {
  width: 100% !important;
}

.days-submit {
  margin-top: 16px;
}

.table-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 80px;
}

.table-row {
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 24px;
  border-radius: 1%;
  border-top: 4px solid #1976d2;
  border-bottom: 4px solid #1976d2;
  border-bottom-left-radius: 20px;
  transition: 0.3s all ease-in-out;
  box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2),
    -5px 0 5px -5px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
}

.workout-heading {
  margin-bottom: 16px;
  text-align: center;
}

.table-form-con {
  width: 100%;
  border-radius: 5%;
}

.table-grid {
  padding: 8px;
}

.table-grid-header {
  background-color: #f1f1f1;
  border-radius: 2px;
  text-align: center;
  padding: 10px;
}

.table-grid p {
  font-size: 0.875rem;
  font-weight: normal;
  text-align: center;
}

.table-grid-row {
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

/* 
User page 
*/

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
}

.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
}

.user-media {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin-top: 16px;
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 270px;
  }

  .exercise-card {
    width: 320px;
  }

  .hero-title {
    font-size: 5rem !important;
  }

  .hero-para {
    font-size: 2rem !important;
  }
}

@media (min-width: 600px) {
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }

  .content-image {
    height: 170px;
  }

  .content-title {
    color: #000;
    font-weight: bold;
    font-size: 1rem !important;
  }

  .content-description {
    font-size: 0.8rem !important;
  }
}
