.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    font-family: 'Josefin Sans';
    background-color: #FFF;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .detail-image {
    width: 729px;
    height: 742px;
  }
  
  .exercise-card {
    width: 400px;
    height: 445px;
    background: #fff;
    border-top: 4px solid #1976d2;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 326px;
  }
    
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 387px;
    height: 381px;
    text-decoration: none;
  }

  
/* 
search Exercises 
*/


.search-stack {
  align-items: center;
  margin-top: 37px;
  justify-content: center;
  padding: 20px;
}

.search-box {
  position: relative;
  margin-bottom: 72px;  
}

.search-text{
  height: 76px;
  background-color: "#fff";
  border-radius: 40px;
}

.search-btn {
  height: 56px;
  position: absolute !important;
  right: 0px;
}

.search-btn:hover {
  color: #1976d2 !important;
  border: 1px solid #1976d2 !important;
}


















/* 
Sign up page 
*/










  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 270px;
    }
  

    .exercise-card {
      width: 320px;
    }
  
  }
  





  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }