.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body {
    font-family: 'Josefin Sans';
    background-color: #FFF;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
    
  .Appbar {
    background-color: #1976d2 !important;
    color: #FFF !important;
  }
  
 /*
 Landing page 
  */
  
  /* .landing-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .landing-buttonContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: var(--spacing-5);
  }
  */
  .landing-button {
  position: absolute;
  top: 16px;  
  right: 16px; 
  } 

  .landing-root {
    flex-grow: 1;
  }
  
  .landing-hero {
    background:
      'url("https://images.unsplash.com/photo-1614850715649-1d0106293bd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center center/cover';
    height: "50vh";
    display: "flex";
    justify-content: "center";
    align-items: "center";
    flex-direction: "column";
    color: "white";
  }
  
  .landing-heroLogin {
    position: absolute;
    bottom: 0;
    left: 0;

  }
  
  .landing-cardGrid {
    margin-top: 16px; 
    margin-bottom: 16px; 
  }
  
  .landing-card {
    max-width: 500px;
  }
  
  .landing-cardMedia {
    height: 350px;
  }
  
  .landing-cardContent {
    flex-grow: 2;
  }
  

  .my-component {
    display: flex;
    height: 50vh;
    align-items: center;
  }
  
  .image-container {
    flex: 0 0 30vw;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .comp-media {
    height: "50vh";
    width: "30vw";
    max-width: "100%";
  }
  
  .text-container {
    flex: 1;
    padding: 0 2rem;
  }
  
  .text-container2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  
  /* 
  Exercise page
  */

.exercise-box {
  margin-top: 50px;
  padding: 60px 20px 60px;
}

.exercise-stack {
  justify-content: center;
  flex-wrap: wrap;

}



  

  /* 
  Exercise Card
  */


 .exercise-card {
    width: 400px;
    height: 445px;
    background: #fff !important;
    border-top: 4px solid #1976d2;
    border-bottom: 4px solid #1976d2;
    border-bottom-left-radius: 20px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.2), -5px 0 5px -5px rgba(0, 0, 0, 0.2);
  }

  .exercise-card:hover {
  transform: scale(1.1, 1.1);
}
  
  .exercise-card img {
    height: 326px;
  }
 
  .exercise-card-stack {
    justify-content: center;
    align-items: center;
  }

  .exercise-card-button {
    color: #FFF !important;
    background-color: #262424 !important;
    font-size: 14px;
    border-radius: 15px !important;
    text-transform: capitalize;
  }

  .exercise-card-typ {
    color: black;
    font-weight: bold !important;
    margin-top: 10px !important;
    padding-bottom: 10px;
    text-transform: capitalize;
    text-align: center;
  }






/* 
search Exercises 
*/


.search-stack {
  align-items: center;
  margin-top: 37px;
  justify-content: center;
  padding: 20px;
}

.search-box {
  position: relative;
  margin-bottom: 72px;  
}

.search-text{
  height: 76px;
  background-color: "#fff";
  border-radius: 40px;
}

.search-btn {
  height: 56px;
  position: absolute !important;
  right: 0px;
  background-color: #1976d2 !important;
  color: #FFF !important;
}

.search-btn:hover {
  color: #1976d2 !important;
  border: 1px solid #1976d2 !important;
}






/* 
Exercise detail 
*/

.detail-stack {
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.detail-image {
  width: 40%;    
  height: 742px;
}

.detail-title {
  text-transform: capitalize;
  font-weight: 700;
}

.detail-stack-inner {
  align-items: center;
  gap: 24px;
}





/* 
Workout Page
*/

.workout {
   display: "flex";
    flex-direction: "column";
    align-items: "center";
    justify-content: "center";
    position: "relative";
}

.workout-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 4px;
  min-width: 120;
  margin-bottom: 600;
}

.workout-form-container {
  margin-top: 8px;
}

.workout-row {
  margin-bottom: 8px;
}

.workout-label {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 16px;
  margin-bottom: 4px;
  text-align: center;
}


.workout-accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.workout-title {
  justify-content: center;
  font-weight: bold;
}


.workout-accordion-details {
  display: flex !important;
  justify-content: center !important;
}

.no-workout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43vh;
}

.days-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 43vh;
  margin: 0 auto;
}

.days-form-con {
  width: 100% !important;
}

.days-submit {
  margin-top: 16px;
}

/* 
Sign up page 
*/










  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 270px;
    }
  

    .exercise-card {
      width: 320px;
    }
  
  }
  





  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }